@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Mukta', sans-serif;
}

body{
  background: url("https://wallpaperaccess.com/full/1598226.jpg");
  background-size: cover;
  /* background-repeat: no-repeat; */
  opacity: 0.8;
  /* background-image: ; */
}
h1 p a button{
  opacity: 1 !important;
}

.logo{
  height: 50px;
  border-radius: 50%;
  margin: 0 25px;
}
/* .navbar{
  background-color:darkolivegreen !important;
  display: flex;
  justify-content: space-evenly;
}
.navbar-brand{
  color: rgb(255, 255, 86);
}
.navbar-brand:hover{
  color: rgb(255, 255, 86);
} */
.form-check-label{
  color: rgb(255, 255, 86);
  width: 60px;
}

#mainblock{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.block{
  width: 50vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: calc(100vw-66px); */
}
.card-body{
  border-radius: 30px;
}
.nav-link {
  color: black;
  font-weight: 600;
  color: yellowgreen;
} 
.goog-te-combo{
  padding: 5px;
  border-radius: 15px;
}

.navbar-brand {
  color: black;
  font-size: 30px;
  font-weight: 800;
  color: yellowgreen;
}

.btnCurrFarm{
  background-color: green !important;
  color: white;
  font-weight: normal !important;
}
.btnCurrGard{
  background-color: #daa400 !important;
  color: white;
  font-weight: normal !important;
}
@media screen and (max-width:800px) {
  #mainblock{
    flex-direction: column;
  }
  .block{
    width: 80vw;
    height: auto;
  }
}