@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');

*{
  font-family: 'Mukta', sans-serif;
}
body{
  background: url("https://wallpaperaccess.com/full/1598226.jpg");
  background-size: cover;
  opacity: 0.8;
  /* background-image: ; */
}
h1 p a button{
  opacity: 1 !important;
}

.logo{
  height: 50px;
  border-radius: 50%;
  margin: 0 25px;
}
.navbar{
  background-color:darkolivegreen !important;
  display: flex;
  justify-content: space-evenly;
}
.navbar-brand{
  color: rgb(255, 255, 86);
}
.navbar-brand:hover{
  color: rgb(255, 255, 86);
}
.form-check-label{
  color: rgb(255, 255, 86);
  width: 60px;
}

#mainblock{
  display: flex;
  width: 100%;
}
.block{
  width: 50vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: calc(100vw-66px); */
}
.farmerBlock{
  /* background-color:crimson; */
}
.gardenerBlock{
  /* background-color:darkkhaki; */
}